body {
    background-color: rgb(239, 244, 255);
}

h1 {
    text-align: center;
    color: rgb(85, 85, 136);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
    color: rgb(134, 134, 164);
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
  border: 6px solid black;
  z-index: -1;
}

body canvas, #overlay {
  position: absolute;
}

#input {
    align-items: center;
    display: flex;
    justify-content: center;
}